.application .map-selector {
  position: fixed;
  left: 500px;
  z-index: 9999;
}

.application .map-selector input {
  width: 20px;
  height: 20px;
}

.application .map-selector label {
  font-size: 23px;
}

.application .google-login-wrapper {
  position: fixed;
  left: 500px;
  top: 60px;
  z-index: 9999;
}
