.website-warning {
  margin: 10px;
}

.application .menu-btn-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.application .menu-btn-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  /* z-index: 9999; */
}

.amap-marker img {
  background: transparent url("/loading.gif") center no-repeat;
}
